<nav>
  <ul class="nav-list">
    <li><a href="/">Index</a></li>
    
    <li class="dropdown">
      <a href="/peliculas/">Películas</a>
      <ul class="dropdown-content">
        <li><a href="/peliculas/ingresar">Ingresar películas</a></li>
      </ul>
    </li>

    <li class="dropdown">
      <a href="/productos/">Productos</a>
      <ul class="dropdown-content">
        <li><a href="/productos/ingresar">Ingresar productos</a></li>
        <li><a href="/ventas_productos/ingresar">Comprar Productos</a></li>
      </ul>
    </li>

    <li class="dropdown">
      <a href="/funciones/">Funciones</a>
      <ul class="dropdown-content">
        <li><a href="/funciones/recientes">Funciones recientes</a></li>
        <li><a href="/funciones/ingresar">Ingresar funciones</a></li>
      </ul>
    </li>

    <li class="dropdown">
      <a href="/salas/">Salas</a>
      <ul class="dropdown-content">
        <li><a href="/salas/ingresar">Ingresar salas</a></li>
      </ul>
    </li>

    <li class="dropdown">
      <a href="/entradas/">Entradas</a>
      <ul class="dropdown-content">
        <li><a href="/entradas/ingresar">Ingresar entradas</a></li>
      </ul>
    </li>

    <li class="dropdown">
      <a href="/ventas/">Ventas</a>
      <ul class="dropdown-content">
        <li><a href="/ventas_productos/">Ventas de Productos</a></li>
        <li><a href="/ventas/ver-rango/">Ventas por Rango</a></li>
      </ul>
    </li>

  </ul> 
</nav>