<%-include("../components/head.ejs")%>

  <body>
    <%-include("../components/nav.ejs")%>
      <main>
        <h1>Ingresar <%= title %></h1>

        <form class="formEntidad" action method="post">

          <label id="nombre">Nombre
            <input type="text" name="nombre" required>
          </label><br>

          <label id="cantidad">Cantidad
            <input type="number" name="cantidad" required>
          </label><br>

          <label id="precio_unitario">Precio Unitario$
            <input type="number" name="precio_unitario" required>
          </label><br>

          <label id="en_stock">
            <p>¿Está en stock?</p>
            <div class="in__line">
              <label for="si">Sí</label>
              <input type="radio" id="si" name="en_stock" value="1">
              <label for="no">No</label>
              <input type="radio" id="no" name="en_stock" value="0" checked>
            </div>
          </label><br>

          <input type="submit">

        </form>
      </main>
  </body>

  <%-include("../components/footer.ejs")%>