<%-include("../components/head.ejs")%>

  <body>
    <%-include("../components/nav.ejs")%>
      <main>
        <h1>Ingresar <%= title %></h1>

        <form class="formEntidad" action method="post">

          <label id="email">Email
            <input type="email" name="email" required>
          </label><br>

          <label id="password">Contraseña
            <input type="password" name="password" required>
          </label><br>

          <input type="submit">

        </form>
      </main>
  </body>

  <%-include("../components/footer.ejs")%>